#testimonials {
  height: 350px;
  background: url("../../img/hotel-bg.jpg") no-repeat center center/cover;
  padding-top: 50px;
}

#testimonials .testimonials img {
  width: 70px;
  margin-right: 20px;
  border-radius: 50%;
}

#testimonials .testimonials {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
}

.bg-primary {
  color: #333;
  background: #f7c08a;
}

.container {
  margin: auto; /*it makes all to the middle*/
  padding: 0 20px;
  overflow: auto;
}
