.bg-primary {
  color: #333;
  background: #f7c08a;
}

/* .container { */
/* margin: auto; it makes all to the middle */
/* padding: 0 20px;
  overflow: auto;
  width: 75%;
} */

.food-container {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
  width: 100%;
}

.food-container img {
  width: 250px;
  margin-right: 20px;
  border-radius: 10px;
}

.food-card {
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
}

.food-title {
  font-size: 24px;
  color: #222;
  font-weight: bold;
}

.food-price {
  font-size: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  color: #14213d;
  /* color: #2d2c2e; */
  /* background-color: #fbbd0d; */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  /* width: 50px; */
}

.btn-add {
  background-color: #fca311;
  border: 0.5px solid #fca311;
  margin-right: 5px;
}

.btn-remove {
  color: #fc1515;
  background-color: #fff;
  border: 0.5px solid #fc1515;
}

.btn-add:hover {
  background-color: #e99002;
  cursor: pointer;
}
.btn-remove:hover {
  color: #fff;
  background-color: #fc1515;
  cursor: pointer;
}
